@use "styles/color";
@use "@styles/font";
@use "styles/misc";

.container {
  position: relative;
  height: fit-content;
  width: 320px;
}

.inputContainer {
  position: relative;
}

input[type="text"].input {
  position: relative;
  height: 44px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid color.$gray-300;
  box-shadow: misc.$shadow-xs;
  width: 100%;
  background: #fff;
  z-index: 90;
  box-sizing: border-box;

  &::placeholder {
    color: color.$gray-500;
  }

  &:focus {
    outline: none;
    border: 1px solid color.$primary-300;
    box-shadow:
      0 0 0 4px color.$primary-100,
      misc.$shadow-xs;
  }

  &:disabled {
    border: 1px solid color.$gray-300;
    background: color.$gray-50;
    color: color.$gray-500;
  }
}

input[type="text"].input.error {
  border: 1px solid color.$error-300;

  &:focus {
    box-shadow:
      0 0 0 4px color.$error-100,
      misc.$shadow-xs;
  }
}

.icon {
  position: absolute;
  top: 11px;
  left: 13px;
  z-index: 100;
}

.label {
  font: font.$text-sm-medium;
  color: color.$gray-700;
  margin-bottom: 5px;
}

.hint {
  font: font.$text-sm-regular;
  color: color.$gray-500;
  margin-top: 5px;
}

.errorMessage {
  font: font.$text-sm-regular;
  color: color.$error-500;
  margin-top: 5px;
}

.errorIcon {
  position: absolute;
  right: 13px;
  top: 13px;
  z-index: 100;
}
