@use "@styles/color";
@use "@styles/breakpoint";
@use "@styles/font";

footer.container {
  background-color: color.$gray-50;
  color: color.$gray-500;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13.5px 2rem;
  position: relative;
}

.footerText {
  color: color.$gray-400;
  font: font.$text-md-regular;
}

.footerLinks {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin: 0 85px 0 0;
}

.footerLink {
  margin: 0;
  color: color.$gray-500;
  font: font.$text-md-medium;
  text-decoration: none;
}

@media screen and (max-width: breakpoint.$desktop) {
  .content {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding: 1.5rem 2rem;
    gap: 82px;
  }

  .footerLinks {
    justify-content: center;
    margin: 0;
  }

  .footerLogo {
    position: absolute;
    bottom: 4.5rem;
  }
}
