@use "@styles/breakpoint";
@use "@styles/space";
@use "@styles/color";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: space.$s6;

  /* reset list styles */
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: breakpoint.$desktop) {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

.loader {
  margin: auto;
  border: 8px solid color.$primary-50;
  border-radius: 50%;
  border-top: 8px solid color.$primary-600;
  width: 58px;
  height: 58px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
