@use "@styles/font";
@use "@styles/color";

.button {
  cursor: pointer;

  /* remove default button styles */
  border: 1px solid black;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  font: font.$text-sm-medium;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// SIZES
.small {
  padding: 8px 14px;
}

.medium {
  padding: 10px 16px;
}

.large {
  padding: 10px 18px;
}

.xLarge {
  padding: 12px 20px;
}

// COLORS + STATE
.primary {
  background-color: color.$primary-600;
  border: 1px solid color.$primary-600;
  color: #fff;
}

.primary:hover {
  background-color: color.$primary-700;
  border: 1px solid color.$primary-700;
}

.primary:focus {
  box-shadow:
    0 0 0 4px color.$primary-100,
    0 1px 2px 0 #101828;
}

.primary:disabled {
  background-color: color.$primary-200;
  border: 1px solid color.$primary-200;
  box-shadow: 0 1px 2px 0 #1018280d;
}

.secondary {
  background-color: color.$primary-50;
  border: 1px solid color.$primary-50;
  color: color.$primary-700;
}

.gray {
  background-color: #fff;
  border: 1px solid color.$gray-300;
  color: color.$gray-700;
}

.empty {
  background-color: transparent;
  border: none;
  color: color.$primary-700;
}

.emptyGray {
  background-color: transparent;
  border: none;
  color: color.$gray-500;
}

.error {
  background-color: color.$error-600;
  border: 1px solid color.$error-600;
  color: #fff;
}
